<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="person: ${people}">
    <a th:href= "@{/person/{id}(id=${person.getId()})}"th:text="${person.getFio() + ', ' + person.getYear_born()}">
        user</a>
</div>
<br/>
<hr/>
<a href="/person/new">Добавить читателя</a>
</br>
<a href="/book">Страница книг</a>
</br>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>